nodered/all.js
[{"id":"2fa9712b.9d5c76","type":"tab","label":"3关节","disabled":false,"info":""},{"id":"4453d13c.337df","type":"tab","label":"ROS","disabled":false,"info":""},{"id":"70c209fd.8f65f8","type":"tab","label":"WS","disabled":false,"info":""},{"id":"c056cdab.32918","type":"tab","label":"1关节","disabled":false,"info":""},{"id":"3aec01dd.9b4f7e","type":"tab","label":"2关节","disabled":false,"info":""},{"id":"e2ba4556.43368","type":"tab","label":"init","disabled":false,"info":""},{"id":"ae3dac08.d481b","type":"tab","label":"4关节","disabled":false,"info":""},{"id":"f5e95b31.142cb8","type":"ros-server","url":"ws://127.0.0.1:9090"},{"id":"51d0bff1.8de7a","type":"websocket-listener","path":"/joint_position","wholemsg":"true"},{"id":"2182cd65.aabbd2","type":"websocket-listener","path":"/out_joint_position","wholemsg":"false"},{"id":"a78cbb6a.974f4","type":"inject","z":"2fa9712b.9d5c76","name":"使能电机","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":40,"wires":[["444bd744.52e5f8","d4766dc2.1bf44","d5245ec0.bb905"]]},{"id":"4f837657.978438","type":"exec","z":"2fa9712b.9d5c76","command":"cansend can0 004#ff.ff.ff.ff.ff.ff.ff.fd","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":360,"y":160,"wires":[[],[],[]]},{"id":"b8e3209d.e127b","type":"inject","z":"2fa9712b.9d5c76","name":"停止电机","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":160,"wires":[["4f837657.978438"]]},{"id":"3fba8540.4d4c3a","type":"daemon","z":"2fa9712b.9d5c76","name":"监听读取电机角度","command":"candump","args":" can0,0x0:0xf","autorun":false,"cr":false,"redo":false,"op":"string","closer":"SIGKILL","x":310,"y":280,"wires":[["707bb350.250bdc","1492d806.29cdb8","208b503f.e302d"],[],[]]},{"id":"8e38a8a.c4eac58","type":"exec","z":"2fa9712b.9d5c76","command":"cansend can0","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":920,"y":520,"wires":[[],[],[]]},{"id":"f78f00ca.e1931","type":"ros-subscribe","z":"4453d13c.337df","server":"f5e95b31.142cb8","topicname":"/hello_pub","x":120,"y":60,"wires":[["1aa11953.e081c7"]]},{"id":"1aa11953.e081c7","type":"json","z":"4453d13c.337df","name":"解析JSON电机角度报文","property":"payload.data","action":"obj","pretty":false,"x":310,"y":100,"wires":[["d7d4246a.f0fa78"]]},{"id":"d7d4246a.f0fa78","type":"change","z":"4453d13c.337df","name":"缓存电机角度坐标集","rules":[{"t":"set","p":"points","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":160,"wires":[["73024986.17a338"]]},{"id":"73024986.17a338","type":"change","z":"4453d13c.337df","name":"从第一个坐标开始转","rules":[{"t":"set","p":"pointIndex","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":220,"wires":[[]]},{"id":"1237d827.c523b8","type":"websocket in","z":"70c209fd.8f65f8","name":"","server":"51d0bff1.8de7a","client":"","x":150,"y":80,"wires":[["4fa6c5ae.f5e1fc"]]},{"id":"cfc9b5ae.ea63a8","type":"websocket out","z":"70c209fd.8f65f8","name":"","server":"2182cd65.aabbd2","client":"","x":380,"y":220,"wires":[]},{"id":"707bb350.250bdc","type":"link out","z":"2fa9712b.9d5c76","name":"Motor_Subscribe","links":["12536cf7.e9e713","3ffe6dfb.4feaa2","ac3e732d.f62fc","f6289d29.7d155"],"x":555,"y":260,"wires":[]},{"id":"f6289d29.7d155","type":"link in","z":"70c209fd.8f65f8","name":"Motor_Subscribe_Link","links":["707bb350.250bdc","e0badd0a.8de03"],"x":115,"y":220,"wires":[["cfc9b5ae.ea63a8"]]},{"id":"f5d9909.799037","type":"inject","z":"2fa9712b.9d5c76","name":"","props":[{"p":"start","v":"1","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":280,"wires":[["3fba8540.4d4c3a"]]},{"id":"4fa6c5ae.f5e1fc","type":"link out","z":"70c209fd.8f65f8","name":"","links":["b8dad7b7.327a48","ba4325f.3d1a8d8","8686690.d9dee98"],"x":335,"y":80,"wires":[]},{"id":"4504cb7d.7ceb04","type":"function","z":"2fa9712b.9d5c76","name":"","func":"if(msg.payload.indexOf(\"#00.00\")!==-1)return;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":520,"wires":[["8e38a8a.c4eac58","88efce37.1f5e4"]]},{"id":"8c710e74.e3e75","type":"exec","z":"2fa9712b.9d5c76","command":"cansend can0 004#ff.ff.ff.ff.ff.ff.ff.fe","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":360,"y":220,"wires":[[],[],[]]},{"id":"72553c8b.fd56d4","type":"inject","z":"2fa9712b.9d5c76","name":"电机归零","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":220,"wires":[["8c710e74.e3e75"]]},{"id":"a275db82.95c0d8","type":"exec","z":"2fa9712b.9d5c76","command":"cansend can0 004#ff.ff.ff.ff.ff.ff.f1.00","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":360,"y":100,"wires":[[],[],[]]},{"id":"237e3372.6c922c","type":"inject","z":"2fa9712b.9d5c76","name":"电机归零","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["a275db82.95c0d8"]]},{"id":"5ec6d62b.a925c8","type":"inject","z":"2fa9712b.9d5c76","name":"特定报文","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1040,"wires":[["b1ecc7ea.4eadd8"]]},{"id":"dbdfe3ec.a16ca","type":"inject","z":"c056cdab.32918","name":"使能电机","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":60,"wires":[["f68fc1be.fa1ef","134110fe.dee49f","6c2a853f.0d144c"]]},{"id":"986056d5.be66d8","type":"exec","z":"c056cdab.32918","command":"cansend can0 005#ff.ff.ff.ff.ff.ff.ff.fd","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":360,"y":160,"wires":[[],[],[]]},{"id":"bc406c00.43be08","type":"inject","z":"c056cdab.32918","name":"停止电机","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":160,"wires":[["986056d5.be66d8"]]},{"id":"a981e6d5.3d0f08","type":"exec","z":"c056cdab.32918","command":"cansend can0","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":920,"y":520,"wires":[[],[],[]]},{"id":"735333db.9b0a2c","type":"inject","z":"c056cdab.32918","name":"正转一圈","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":380,"wires":[["92d04818.9de998"]]},{"id":"f123e657.f19868","type":"trigger","z":"c056cdab.32918","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-50","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":310,"y":420,"wires":[["f002fae4.f4d9d8"]]},{"id":"f002fae4.f4d9d8","type":"function","z":"c056cdab.32918","name":"","func":"function dec2hex(i)\n{\n  var result = \"0000\";\n  if      (i >= 0    && i <= 15)    { result = \"000\" + i.toString(16); }\n  else if (i >= 16   && i <= 255)   { result = \"00\"  + i.toString(16); }\n  else if (i >= 256  && i <= 4095)  { result = \"0\"   + i.toString(16); }\n  else if (i >= 4096 && i <= 65535) { result =         i.toString(16); }\n  return result\n}\n\nvar nextJointStep = flow.get(\"nextJointStep\");\nvar stopJointStep = flow.get(\"stopJointStep\");\nvar velocity = flow.get(\"velocity\");\n\nif(velocity==0){\n    msg.reset = true;\n}\nelse if(Math.abs(nextJointStep - stopJointStep) <= Math.abs(velocity) ){\n    msg.reset = false;\n    msg.payload = \"00000001#\"+dec2hex(stopJointStep)+\"7ff0f50a37ff\";\n    flow.set(\"nextJointStep\",stopJointStep);\n    flow.set(\"velocity\",0);\n}\nelse{\n    msg.reset = false;\n    msg.payload = \"00000001#\"+dec2hex(nextJointStep)+\"7ff0f50a37ff\";\n    \n    nextJointStep = nextJointStep + velocity;\n    flow.set(\"nextJointStep\",nextJointStep);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":420,"wires":[["717534e1.36dcbc","add14659.9fc0a8"]]},{"id":"717534e1.36dcbc","type":"switch","z":"c056cdab.32918","name":"","property":"reset","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":480,"wires":[["f123e657.f19868"],["4e383892.b9de58"]]},{"id":"add14659.9fc0a8","type":"debug","z":"c056cdab.32918","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":420,"wires":[]},{"id":"c85ce42a.2994e8","type":"inject","z":"c056cdab.32918","name":"逆转一圈","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":560,"wires":[["685414b4.c2bbfc"]]},{"id":"294f1bf6.85d834","type":"inject","z":"c056cdab.32918","name":"特殊角度","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":100,"y":720,"wires":[["28187d62.01d242"]]},{"id":"28187d62.01d242","type":"function","z":"c056cdab.32918","name":"","func":"function dec2hex(i)\n{\n  var result = \"0000\";\n  if      (i >= 0    && i <= 15)    { result = \"000\" + i.toString(16); }\n  else if (i >= 16   && i <= 255)   { result = \"00\"  + i.toString(16); }\n  else if (i >= 256  && i <= 4095)  { result = \"0\"   + i.toString(16); }\n  else if (i >= 4096 && i <= 65535) { result =         i.toString(16); }\n  return result\n}\n\n\nflow.set(\"targetJoint\",msg.payload);\nvar v = Math.floor( msg.payload*16384/360);\nflow.set(\"targetJointStep\",v);\nvar currentJointStep = flow.get(\"currentJointStep\");\nvar gap = v - currentJointStep;\nvar velocity = Math.floor(gap / 10);\nif(velocity>100)velocity=20;\nif(velocity<-100)velocity=-20;\nflow.set(\"velocity\",velocity);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":720,"wires":[["81e1004d.f9472"]]},{"id":"ba4325f.3d1a8d8","type":"link in","z":"c056cdab.32918","name":"JOINT","links":["4fa6c5ae.f5e1fc"],"x":45,"y":800,"wires":[["28187d62.01d242"]]},{"id":"4e383892.b9de58","type":"function","z":"c056cdab.32918","name":"","func":"if(msg.payload.indexOf(\"#00.00\")!==-1)return;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":540,"wires":[["a981e6d5.3d0f08"]]},{"id":"81e1004d.f9472","type":"trigger","z":"c056cdab.32918","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-50","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":290,"y":860,"wires":[["b8eb35a1.251268"]]},{"id":"b8eb35a1.251268","type":"function","z":"c056cdab.32918","name":"","func":"function dec2hex(i)\n{\n  var result = \"0000\";\n  if      (i >= 0    && i <= 15)    { result = \"000\" + i.toString(16); }\n  else if (i >= 16   && i <= 255)   { result = \"00\"  + i.toString(16); }\n  else if (i >= 256  && i <= 4095)  { result = \"0\"   + i.toString(16); }\n  else if (i >= 4096 && i <= 65535) { result =         i.toString(16); }\n  return result\n}\n\nvar currentJointStep = flow.get(\"currentJointStep\");\nvar targetJointStep = flow.get(\"targetJointStep\");\nvar velocity = flow.get(\"velocity\");\n\nif(targetJointStep==currentJointStep){\n    msg.reset = true;\n}\nelse{\n    msg.reset = false;\n    if( Math.abs(targetJointStep - currentJointStep)<=Math.abs(velocity)){\n        msg.payload = \"00000001#\"+dec2hex(targetJointStep)+\"7ff0f50a37ff\";\n    } \n    else{\n        msg.payload = \"00000001#\"+dec2hex((currentJointStep+velocity))+\"7ff0f50a37ff\";\n    }\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":860,"wires":[["73797495.73422c"]]},{"id":"73797495.73422c","type":"switch","z":"c056cdab.32918","name":"","property":"reset","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":920,"wires":[["81e1004d.f9472"],["4e383892.b9de58"]]},{"id":"92d04818.9de998","type":"function","z":"c056cdab.32918","name":"","func":"\n\nvar startJointStep = flow.get(\"currentJointStep\");\nflow.set(\"startJointStep\",startJointStep);\nflow.set(\"stopJointStep\",startJointStep+16384);\nvar velocity= 20;\nflow.set(\"velocity\",velocity);\nflow.set(\"nextJointStep\",startJointStep+velocity);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":360,"wires":[["f123e657.f19868"]]},{"id":"685414b4.c2bbfc","type":"function","z":"c056cdab.32918","name":"","func":"\n\nvar startJointStep = flow.get(\"currentJointStep\");\nflow.set(\"startJointStep\",startJointStep);\nflow.set(\"stopJointStep\",startJointStep-16384);\nvar velocity= -20;\nflow.set(\"velocity\",velocity);\nflow.set(\"nextJointStep\",startJointStep+velocity);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":560,"wires":[["f123e657.f19868"]]},{"id":"50a6b11b.9b5d3","type":"exec","z":"c056cdab.32918","command":"cansend can0 005#ff.ff.ff.ff.ff.ff.ff.fe","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":360,"y":220,"wires":[[],[],[]]},{"id":"383b5ce.3ff5da4","type":"inject","z":"c056cdab.32918","name":"电机归零","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":220,"wires":[["50a6b11b.9b5d3"]]},{"id":"8a8537b3.b5b0a8","type":"exec","z":"c056cdab.32918","command":"cansend can0 005#ff.ff.ff.ff.ff.ff.f1.00","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":360,"y":100,"wires":[[],[],[]]},{"id":"78f2f1e4.6f7b8","type":"inject","z":"c056cdab.32918","name":"电机归零","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["8a8537b3.b5b0a8"]]},{"id":"1adf11d2.367e2e","type":"exec","z":"c056cdab.32918","command":"cansend can0 005#9b.b1.7f.f0.f5.0a.37.ff","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":380,"y":1060,"wires":[[],[],[]]},{"id":"7e9ea239.e8478c","type":"inject","z":"c056cdab.32918","name":"特定报文","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1060,"wires":[["1adf11d2.367e2e"]]},{"id":"ac3e732d.f62fc","type":"link in","z":"c056cdab.32918","name":"j1In","links":["707bb350.250bdc"],"x":245,"y":280,"wires":[["e56a60a3.95f32"]]},{"id":"130402fb.583fed","type":"inject","z":"3aec01dd.9b4f7e","name":"使能电机","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":60,"wires":[["a17222e.2bad0e","66753279.7a0574","435ce3f.1b3551c"]]},{"id":"db8a93f2.b9aa3","type":"inject","z":"3aec01dd.9b4f7e","name":"停止电机","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":160,"wires":[["99b439c0.d2fa58"]]},{"id":"551e15ae.390f6c","type":"exec","z":"3aec01dd.9b4f7e","command":"cansend can0","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":860,"y":580,"wires":[[],[],[]]},{"id":"4551cfbd.7405f","type":"inject","z":"3aec01dd.9b4f7e","name":"特殊角度","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":60,"y":720,"wires":[["ac8ad55.d9e0328"]]},{"id":"ac8ad55.d9e0328","type":"function","z":"3aec01dd.9b4f7e","name":"","func":"function dec2hex(i)\n{\n  var result = \"0000\";\n  if      (i >= 0    && i <= 15)    { result = \"000\" + i.toString(16); }\n  else if (i >= 16   && i <= 255)   { result = \"00\"  + i.toString(16); }\n  else if (i >= 256  && i <= 4095)  { result = \"0\"   + i.toString(16); }\n  else if (i >= 4096 && i <= 65535) { result =         i.toString(16); }\n  return result\n}\n\n\nflow.set(\"targetJoint\",msg.payload);\nvar v = Math.floor( msg.payload*16384/360);\nflow.set(\"targetJointStep\",v);\nvar currentJointStep = flow.get(\"currentJointStep\");\nvar gap = v - currentJointStep;\nvar velocity = Math.floor(gap / 10);\nif(velocity>100)velocity=20;\nif(velocity<-100)velocity=-20;\nflow.set(\"velocity\",velocity);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":720,"wires":[["69ca069d.2313c8"]]},{"id":"8686690.d9dee98","type":"link in","z":"3aec01dd.9b4f7e","name":"JOINT","links":["4fa6c5ae.f5e1fc"],"x":5,"y":800,"wires":[["ac8ad55.d9e0328"]]},{"id":"ee4653d9.deec5","type":"function","z":"3aec01dd.9b4f7e","name":"","func":"if(msg.payload.indexOf(\"#00.00\")!==-1)return;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":540,"wires":[["551e15ae.390f6c","a80ae82.f4cb018"]]},{"id":"c9ca285f.ff1218","type":"function","z":"3aec01dd.9b4f7e","name":"","func":"function hex2int(hex) {\n    var len = hex.length, a = new Array(len), code;\n    for (var i = 0; i < len; i++) {\n        code = hex.charCodeAt(i);\n        if (48<=code && code < 58) {\n            code -= 48;\n        } else {\n            code = (code & 0xdf) - 65 + 10;\n        }\n        a[i] = code;\n    }\n    \n    return a.reduce(function(acc, c) {\n        acc = 16 * acc + c;\n        return acc;\n    }, 0);\n}\n\nvar str = msg.payload;\nif(str.indexOf(\"[6]  03\")!==-1){\n    flow.set(\"msg\",str);\n    str = str.replace(\"  can0  000   [6]  03\",\"\");\n    str = str.replace(\" \",\"\").replace(\" \",\"\").replace(\" \",\"\").replace(\" \",\"\").replace(\" \",\"\").replace(\" \",\"\");\n    strt = str.substring(9,10);\n    flow.set(\"current\",hex2int(strt));\n    str = str.substring(0,4);\n    msg.payload = str;\n    flow.set(\"currentJointHex\",str);\n    var str2 = str.slice(0, 2) + \".\" + str.slice(2);\n    flow.set(\"currentJointHex2\",str2);\n    flow.set(\"currentJointStep\",hex2int(str));\n    flow.set(\"currentJoint\",hex2int(str)*360/16384);\n\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":320,"wires":[[]]},{"id":"69ca069d.2313c8","type":"trigger","z":"3aec01dd.9b4f7e","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-50","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":250,"y":860,"wires":[["e1bc8883.983028"]]},{"id":"e1bc8883.983028","type":"function","z":"3aec01dd.9b4f7e","name":"","func":"function dec2hex(i)\n{\n  var result = \"0000\";\n  if      (i >= 0    && i <= 15)    { result = \"000\" + i.toString(16); }\n  else if (i >= 16   && i <= 255)   { result = \"00\"  + i.toString(16); }\n  else if (i >= 256  && i <= 4095)  { result = \"0\"   + i.toString(16); }\n  else if (i >= 4096 && i <= 65535) { result =         i.toString(16); }\n  return result\n}\n\nvar currentJointStep = flow.get(\"currentJointStep\");\nvar targetJointStep = flow.get(\"targetJointStep\");\nvar velocity = flow.get(\"velocity\");\n\nif(targetJointStep==currentJointStep){\n    msg.reset = true;\n}\nelse{\n    msg.reset = false;\n    if( Math.abs(targetJointStep - currentJointStep)<=Math.abs(velocity)){\n        msg.payload = \"00000001#\"+dec2hex(targetJointStep)+\"7ff0f50a37ff\";\n    } \n    else{\n        msg.payload = \"00000001#\"+dec2hex((currentJointStep+velocity))+\"7ff0f50a37ff\";\n    }\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":860,"wires":[["cb828488.1d1aa8"]]},{"id":"cb828488.1d1aa8","type":"switch","z":"3aec01dd.9b4f7e","name":"","property":"reset","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":920,"wires":[["69ca069d.2313c8"],["ee4653d9.deec5"]]},{"id":"673e0240.87512c","type":"exec","z":"3aec01dd.9b4f7e","command":"cansend can0 003#ff.ff.ff.ff.ff.ff.f1.00","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":520,"y":100,"wires":[[],[],[]]},{"id":"364870.47d9079","type":"inject","z":"3aec01dd.9b4f7e","name":"电机归零","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":100,"wires":[["673e0240.87512c"]]},{"id":"83c745ca.1ab0e8","type":"exec","z":"3aec01dd.9b4f7e","command":"cansend can0 003#98.57.7f.f0.f5.0a.37.ff","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":340,"y":1060,"wires":[[],[],[]]},{"id":"eaea00d2.4baf5","type":"inject","z":"3aec01dd.9b4f7e","name":"特定报文","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":1060,"wires":[["83c745ca.1ab0e8"]]},{"id":"12536cf7.e9e713","type":"link in","z":"3aec01dd.9b4f7e","name":"j2in","links":["707bb350.250bdc"],"x":205,"y":280,"wires":[["c9ca285f.ff1218"]]},{"id":"1492d806.29cdb8","type":"function","z":"2fa9712b.9d5c76","name":"","func":"\n\nvar hex2int = global.get(\"hex2int\");\n\nvar str = msg.payload;\nvar canid = flow.get(\"canid\");\ncanid = canid.replace(\"0\",\"\");\ncanid = canid.replace(\"0\",\"\");\nif(str.indexOf(\"[6]  0\"+canid)!==-1){\n    str = str.replace(\"  can0  000   [6]  0\"+canid,\"\");\n    str = str.replace(\" \",\"\").replace(\" \",\"\");\n    str = str.substring(0,4);\n    msg.payload = str;\n    flow.set(\"currentJointHex\",str);\n    var str2 = str.slice(0, 2) + \".\" + str.slice(2);\n    flow.set(\"currentJointHex2\",str2);\n    flow.set(\"currentJointStep\",hex2int(str));\n    flow.set(\"currentJoint\",hex2int(str)*360/16384);\n    \n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":300,"wires":[[]]},{"id":"444bd744.52e5f8","type":"change","z":"2fa9712b.9d5c76","name":"","rules":[{"t":"set","p":"canid","pt":"flow","to":"004","tot":"str"},{"t":"set","p":"pdt","pt":"flow","to":".7f.fc.cc.ff.f6.c9","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":327,"y":20,"wires":[[]]},{"id":"e56a60a3.95f32","type":"function","z":"c056cdab.32918","name":"","func":"var hex2int = global.get(\"hex2int\");\n\nvar str = msg.payload;\nvar canid = flow.get(\"canid\");\ncanid = canid.replace(\"0\",\"\");\ncanid = canid.replace(\"0\",\"\");\nif(str.indexOf(\"[6]  0\"+canid)!==-1){\n    str = str.replace(\"  can0  000   [6]  0\"+canid,\"\");\n    str = str.replace(\" \",\"\").replace(\" \",\"\");\n    str = str.substring(0,4);\n    msg.payload = str;\n    flow.set(\"currentJointHex\",str);\n    var str2 = str.slice(0, 2) + \".\" + str.slice(2);\n    flow.set(\"currentJointHex2\",str2);\n    flow.set(\"currentJointStep\",hex2int(str));\n    flow.set(\"currentJoint\",hex2int(str)*360/16384);\n    \n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":300,"wires":[[]]},{"id":"b1ecc7ea.4eadd8","type":"exec","z":"2fa9712b.9d5c76","command":"cansend can0 004#7f.ff.7f.f3.33.99.97.9e","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":240,"y":1100,"wires":[[],[],[]]},{"id":"f68fc1be.fa1ef","type":"change","z":"c056cdab.32918","name":"","rules":[{"t":"set","p":"canid","pt":"flow","to":"005","tot":"str"},{"t":"set","p":"pdt","pt":"flow","to":".7f.fc.cc.ff.f6.c9","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":20,"wires":[[]]},{"id":"a17222e.2bad0e","type":"change","z":"3aec01dd.9b4f7e","name":"","rules":[{"t":"set","p":"canid","pt":"flow","to":"003","tot":"str"},{"t":"set","p":"pdt2","pt":"flow","to":".7f.fc.cc.ff.ff.f4","tot":"str"},{"t":"set","p":"pdt","pt":"flow","to":".7f.fc.cc.ff.f6.c9","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":20,"wires":[[]]},{"id":"b3790cfb.83dbc","type":"function","z":"3aec01dd.9b4f7e","name":"","func":"msg.payload = flow.get(\"canid\")+\"#ff.ff.ff.ff.ff.ff.ff.fc\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":140,"wires":[["ee4653d9.deec5"]]},{"id":"99b439c0.d2fa58","type":"function","z":"3aec01dd.9b4f7e","name":"","func":"msg.payload = flow.get(\"canid\")+\"#ff.ff.ff.ff.ff.ff.ff.fd\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":220,"wires":[["ee4653d9.deec5"]]},{"id":"5f767b00.de7e24","type":"function","z":"3aec01dd.9b4f7e","name":"","func":"var start = 0x8100;\nvar stop = 0x8c00;\nvar arr = [];\nfor(var i=start;i<=stop;i+=0x10){\n    arr.push(i);\n}\nflow.set(\"stepArr\",arr) ;\nflow.set(\"stepPos\",0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":3020,"wires":[["3139673e.7c1038"]]},{"id":"471d040f.222e5c","type":"inject","z":"3aec01dd.9b4f7e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":760,"y":3000,"wires":[["5f767b00.de7e24"]]},{"id":"3139673e.7c1038","type":"trigger","z":"3aec01dd.9b4f7e","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1110,"y":3140,"wires":[["5081c660.6f5bb8"]]},{"id":"5081c660.6f5bb8","type":"function","z":"3aec01dd.9b4f7e","name":"","func":"var stepArr = flow.get(\"stepArr\") ;\nvar stepPos = flow.get(\"stepPos\");\nif(stepPos==stepArr.length-1){\n    msg.reset = true;\n    \n}\nelse{\n    msg.reset = false;\n    msg.payload = stepArr[stepPos];\n    flow.set(\"stepPos\",stepPos+1);\n   \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1250,"y":3140,"wires":[["abb6c9e0.29d5e8"]]},{"id":"c438f554.4cfa88","type":"function","z":"3aec01dd.9b4f7e","name":"","func":"\nfunction dec2hex(i)\n{\n  var result = \"0000\";\n  if      (i >= 0    && i <= 15)    { result = \"000\" + i.toString(16); }\n  else if (i >= 16   && i <= 255)   { result = \"00\"  + i.toString(16); }\n  else if (i >= 256  && i <= 4095)  { result = \"0\"   + i.toString(16); }\n  else if (i >= 4096 && i <= 65535) { result =         i.toString(16); }\n  return result\n}\nvar num = msg.payload;\nvar str = dec2hex(num);\nvar str2 = str.slice(0, 2) + \".\" + str.slice(2);\nmsg.payload = flow.get(\"canid\")+\"#\"+str2+flow.get(\"pdt\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1530,"y":3220,"wires":[[]]},{"id":"abb6c9e0.29d5e8","type":"switch","z":"3aec01dd.9b4f7e","name":"","property":"reset","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1370,"y":3220,"wires":[["3139673e.7c1038"],["c438f554.4cfa88"]]},{"id":"a80ae82.f4cb018","type":"debug","z":"3aec01dd.9b4f7e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1370,"y":500,"wires":[]},{"id":"fa7c4cbb.ad98a","type":"inject","z":"3aec01dd.9b4f7e","name":"","props":[{"p":"reset","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":800,"y":3240,"wires":[["3139673e.7c1038"]]},{"id":"f92fef38.63f42","type":"function","z":"3aec01dd.9b4f7e","name":"","func":"var start = 0x8c00;\nvar stop = 0x8100;\nvar arr = [];\nfor(var i=start;i>=stop;i-=16){\n    arr.push(i);\n}\nflow.set(\"stepArr\",arr) ;\nflow.set(\"stepPos\",0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":3420,"wires":[["b7ad2c15.b3c6e"]]},{"id":"443727be.375ea8","type":"inject","z":"3aec01dd.9b4f7e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":790,"y":3400,"wires":[["f92fef38.63f42"]]},{"id":"b7ad2c15.b3c6e","type":"trigger","z":"3aec01dd.9b4f7e","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1140,"y":3540,"wires":[["7f1cb519.8e71ec"]]},{"id":"7f1cb519.8e71ec","type":"function","z":"3aec01dd.9b4f7e","name":"","func":"var stepArr = flow.get(\"stepArr\") ;\nvar stepPos = flow.get(\"stepPos\");\nif(stepPos==stepArr.length-1){\n    msg.reset = true;\n    \n}\nelse{\n    msg.reset = false;\n    msg.payload = stepArr[stepPos];\n    flow.set(\"stepPos\",stepPos+1);\n   \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":3540,"wires":[["bf074672.73e128"]]},{"id":"f902c463.6d6f88","type":"function","z":"3aec01dd.9b4f7e","name":"","func":"\nfunction dec2hex(i)\n{\n  var result = \"0000\";\n  if      (i >= 0    && i <= 15)    { result = \"000\" + i.toString(16); }\n  else if (i >= 16   && i <= 255)   { result = \"00\"  + i.toString(16); }\n  else if (i >= 256  && i <= 4095)  { result = \"0\"   + i.toString(16); }\n  else if (i >= 4096 && i <= 65535) { result =         i.toString(16); }\n  return result\n}\nvar num = msg.payload;\nvar str = dec2hex(num);\nvar str2 = str.slice(0, 2) + \".\" + str.slice(2);\nmsg.payload = flow.get(\"canid\")+\"#\"+str2+flow.get(\"pdt\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1560,"y":3620,"wires":[["35603ed.e092cc2"]]},{"id":"bf074672.73e128","type":"switch","z":"3aec01dd.9b4f7e","name":"","property":"reset","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1400,"y":3620,"wires":[["b7ad2c15.b3c6e"],["f902c463.6d6f88"]]},{"id":"bf220bf2.903388","type":"inject","z":"3aec01dd.9b4f7e","name":"","props":[{"p":"reset","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":830,"y":3640,"wires":[["b7ad2c15.b3c6e"]]},{"id":"35603ed.e092cc2","type":"debug","z":"3aec01dd.9b4f7e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1680,"y":3720,"wires":[]},{"id":"c11b7904.422848","type":"inject","z":"e2ba4556.43368","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":40,"wires":[["4f273e23.e75288"]]},{"id":"4f273e23.e75288","type":"function","z":"e2ba4556.43368","name":"","func":"function hex2int(hex) {\n    var len = hex.length, a = new Array(len), code;\n    for (var i = 0; i < len; i++) {\n        code = hex.charCodeAt(i);\n        if (48<=code && code < 58) {\n            code -= 48;\n        } else {\n            code = (code & 0xdf) - 65 + 10;\n        }\n        a[i] = code;\n    }\n    \n    return a.reduce(function(acc, c) {\n        acc = 16 * acc + c;\n        return acc;\n    }, 0);\n}\nglobal.set(\"hex2int\",hex2int);\n\nfunction dec2hex(i)\n{\n  var result = \"0000\";\n  if      (i >= 0    && i <= 15)    { result = \"000\" + i.toString(16); }\n  else if (i >= 16   && i <= 255)   { result = \"00\"  + i.toString(16); }\n  else if (i >= 256  && i <= 4095)  { result = \"0\"   + i.toString(16); }\n  else if (i >= 4096 && i <= 65535) { result =         i.toString(16); }\n  return result\n}\nglobal.set(\"dec2hex\",dec2hex);\n\nfunction dec2hex2(i)\n{\n  var result = \"00\";\n  if      (i >= 0    && i <= 15)    { result = \"0\" + i.toString(16); }\n  else if (i >= 16   && i <= 255)   { result =         i.toString(16); }\n  return result\n}\nglobal.set(\"dec2hex2\",dec2hex2);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":40,"wires":[[]]},{"id":"84c475f2.dd5d8","type":"function","z":"c056cdab.32918","name":"","func":"var dec2hex = global.get(\"dec2hex\");\nvar num = msg.payload;\nvar num2 = Number(\"0x\"+num);\nvar str = dec2hex(num2);\nvar str2 = str.slice(0, 2) + \".\" + str.slice(2);\nmsg.payload = flow.get(\"canid\")+\"#\"+str2+flow.get(\"pdt\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":440,"wires":[["4e383892.b9de58"]]},{"id":"575b1ed0.0e747","type":"inject","z":"c056cdab.32918","name":"5BF3","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5BF3","payloadType":"str","x":890,"y":320,"wires":[["84c475f2.dd5d8"]]},{"id":"88efce37.1f5e4","type":"debug","z":"2fa9712b.9d5c76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":580,"wires":[]},{"id":"66753279.7a0574","type":"trigger","z":"3aec01dd.9b4f7e","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"50","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":240,"y":140,"wires":[["b3790cfb.83dbc"]]},{"id":"b313e8fa.8775f","type":"inject","z":"3aec01dd.9b4f7e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":900,"y":860,"wires":[["262c5bda.130194"]]},{"id":"262c5bda.130194","type":"trigger","z":"3aec01dd.9b4f7e","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-30","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1100,"y":880,"wires":[["e2b5a36c.42215"]]},{"id":"997eff72.a7e7a","type":"inject","z":"3aec01dd.9b4f7e","name":"77d5","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"77d5","payloadType":"str","x":790,"y":680,"wires":[["1aa77269.ca3446"]],"icon":"font-awesome/fa-arrow-right"},{"id":"1aa77269.ca3446","type":"function","z":"3aec01dd.9b4f7e","name":"","func":"\nvar num = msg.payload;\nflow.set(\"targetJointHex\",num);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":680,"wires":[[]]},{"id":"116bf3cc.90f57c","type":"inject","z":"c056cdab.32918","name":"8700","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"8700","payloadType":"str","x":810,"y":860,"wires":[["7c7d976a.0afec8"]],"icon":"font-awesome/fa-arrow-right"},{"id":"7c7d976a.0afec8","type":"function","z":"c056cdab.32918","name":"","func":"\nvar num = msg.payload;\nflow.set(\"targetJointHex\",num);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":860,"wires":[[]]},{"id":"859263d1.82d16","type":"inject","z":"c056cdab.32918","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"72d9","payloadType":"str","x":790,"y":780,"wires":[["df47904d.70e8b"]],"icon":"font-awesome/fa-arrow-right"},{"id":"df47904d.70e8b","type":"function","z":"c056cdab.32918","name":"","func":"\nvar num = msg.payload;\nflow.set(\"targetJointHex\",num);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":780,"wires":[[]]},{"id":"92543ba1.ea1ef8","type":"inject","z":"c056cdab.32918","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":690,"y":980,"wires":[["7f54ced0.cd9a5"]]},{"id":"8eb9c9d0.e86368","type":"function","z":"c056cdab.32918","name":"","func":"var dec2hex = global.get(\"dec2hex\");\n\nvar currentSend = flow.get(\"sendJointHex\");\nvar currentSend2 = Number(\"0x\"+currentSend);\n\nvar currentJointHex = flow.get(\"currentJointHex\");\nvar currentJointHex2 = Number(\"0x\"+currentJointHex);\n\n\nvar targetJointHex = flow.get(\"targetJointHex\");\nvar targetJointHex2 = Number(\"0x\"+targetJointHex);\n\nvar doSend = false;\nif(targetJointHex2>currentJointHex2+3){\n    currentSend2 += 3;\n    doSend = true;\n}\nelse if(targetJointHex2<currentJointHex2-3){\n    currentSend2 -= 3;\n    doSend = true;\n}\n\nif(doSend){\n    var str = dec2hex(currentSend2);\n    flow.set(\"sendJointHex\",str);\n    \n    var str2 = str.slice(0, 2) + \".\" + str.slice(2);\n    msg.payload = flow.get(\"canid\")+\"#\"+str2+flow.get(\"pdt\");\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1090,"y":1000,"wires":[["a981e6d5.3d0f08"]]},{"id":"7f54ced0.cd9a5","type":"trigger","z":"c056cdab.32918","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-20","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":890,"y":1000,"wires":[["8eb9c9d0.e86368"]]},{"id":"bbeca6a4.5e7258","type":"inject","z":"c056cdab.32918","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"reset","v":"1","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":650,"y":1100,"wires":[["7f54ced0.cd9a5"]]},{"id":"134110fe.dee49f","type":"trigger","z":"c056cdab.32918","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"50","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":650,"y":120,"wires":[["519a2a9e.f0c714"]]},{"id":"519a2a9e.f0c714","type":"function","z":"c056cdab.32918","name":"","func":"msg.payload = flow.get(\"canid\")+\"#ff.ff.ff.ff.ff.ff.ff.fc\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":120,"wires":[["a981e6d5.3d0f08"]]},{"id":"6c2a853f.0d144c","type":"delay","z":"c056cdab.32918","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":60,"wires":[["fc9811be.205f4"]]},{"id":"fc9811be.205f4","type":"function","z":"c056cdab.32918","name":"","func":"var currentJointHex = flow.get(\"currentJointHex\");\nflow.set(\"sendJointHex\",currentJointHex);\nflow.set(\"targetJointHex\",currentJointHex);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":60,"wires":[[]]},{"id":"435ce3f.1b3551c","type":"delay","z":"3aec01dd.9b4f7e","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":40,"wires":[["c9fb058d.300258"]]},{"id":"c9fb058d.300258","type":"function","z":"3aec01dd.9b4f7e","name":"","func":"var currentJointHex = flow.get(\"currentJointHex\");\nflow.set(\"sendJointHex\",currentJointHex);\nflow.set(\"targetJointHex\",currentJointHex);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":40,"wires":[[]]},{"id":"73f03c3c.432184","type":"inject","z":"3aec01dd.9b4f7e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"reset","v":"1","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":850,"y":980,"wires":[["262c5bda.130194"]]},{"id":"e2b5a36c.42215","type":"function","z":"3aec01dd.9b4f7e","name":"","func":"var dec2hex = global.get(\"dec2hex\");\n\nvar currentSend = flow.get(\"sendJointHex\");\nvar currentSend2 = Number(\"0x\"+currentSend);\n\nvar currentJointHex = flow.get(\"currentJointHex\");\nvar currentJointHex2 = Number(\"0x\"+currentJointHex);\n\n\nvar targetJointHex = flow.get(\"targetJointHex\");\nvar targetJointHex2 = Number(\"0x\"+targetJointHex);\n\nvar doSend = false;\nif(targetJointHex2>currentJointHex2+3){\n    currentSend2 += 3;\n    doSend = true;\n}\nelse if(targetJointHex2<currentJointHex2-3){\n    currentSend2 -= 3;\n    doSend = true;\n}\n\nif(doSend){\n    var str = dec2hex(currentSend2);\n    flow.set(\"sendJointHex\",str);\n    global.set(\"j2state\",1);\n    \n    var str2 = str.slice(0, 2) + \".\" + str.slice(2);\n    msg.payload = flow.get(\"canid\")+\"#\"+str2+flow.get(\"pdt\");\n    return msg;\n}\nelse{\n    global.set(\"j2state\",0);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1370,"y":880,"wires":[["551e15ae.390f6c"]]},{"id":"d5245ec0.bb905","type":"trigger","z":"2fa9712b.9d5c76","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"50","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":670,"y":80,"wires":[["e1aa1c26.16e9f"]]},{"id":"e1aa1c26.16e9f","type":"function","z":"2fa9712b.9d5c76","name":"","func":"msg.payload = flow.get(\"canid\")+\"#ff.ff.ff.ff.ff.ff.ff.fc\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":80,"wires":[["8e38a8a.c4eac58"]]},{"id":"d4766dc2.1bf44","type":"delay","z":"2fa9712b.9d5c76","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":20,"wires":[["3b4b961d.f4aeaa"]]},{"id":"3b4b961d.f4aeaa","type":"function","z":"2fa9712b.9d5c76","name":"","func":"var currentJointHex = flow.get(\"currentJointHex\");\nflow.set(\"sendJointHex\",currentJointHex);\nflow.set(\"targetJointHex\",currentJointHex);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":20,"wires":[[]]},{"id":"301f3b0b.253eb4","type":"inject","z":"2fa9712b.9d5c76","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":680,"wires":[["a4d98ce.167767"]]},{"id":"a4d98ce.167767","type":"trigger","z":"2fa9712b.9d5c76","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-20","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":450,"y":700,"wires":[["dac49ec2.43452"]]},{"id":"6bdffaa3.aea894","type":"inject","z":"2fa9712b.9d5c76","name":"6D59","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"6D59","payloadType":"str","x":140,"y":500,"wires":[["4d8d6458.f0e05c"]],"icon":"font-awesome/fa-arrow-right"},{"id":"4d8d6458.f0e05c","type":"function","z":"2fa9712b.9d5c76","name":"","func":"\nvar num = msg.payload;\nflow.set(\"targetJointHex\",num);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":500,"wires":[[]]},{"id":"f646a3a0.32162","type":"inject","z":"2fa9712b.9d5c76","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"reset","v":"1","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":800,"wires":[["a4d98ce.167767"]]},{"id":"dac49ec2.43452","type":"function","z":"2fa9712b.9d5c76","name":"","func":"var dec2hex = global.get(\"dec2hex\");\n\nvar currentSend = flow.get(\"sendJointHex\");\nvar currentSend2 = Number(\"0x\"+currentSend);\n\nvar currentJointHex = flow.get(\"currentJointHex\");\nvar currentJointHex2 = Number(\"0x\"+currentJointHex);\n\n\nvar targetJointHex = flow.get(\"targetJointHex\");\nvar targetJointHex2 = Number(\"0x\"+targetJointHex);\n\nvar doSend = false;\nif(targetJointHex2>currentJointHex2+3){\n    currentSend2 += 3;\n    doSend = true;\n}\nelse if(targetJointHex2<currentJointHex2-3){\n    currentSend2 -= 3;\n    doSend = true;\n}\n\nif(doSend){\n    var str = dec2hex(currentSend2);\n    flow.set(\"sendJointHex\",str);\n    \n    var str2 = str.slice(0, 2) + \".\" + str.slice(2);\n    msg.payload = flow.get(\"canid\")+\"#\"+str2+flow.get(\"pdt\");\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":700,"wires":[["4504cb7d.7ceb04"]]},{"id":"db835b28.f24408","type":"inject","z":"ae3dac08.d481b","name":"使能电机","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":60,"wires":[["8e66ba66.0fade8","84963fed.490ba","3ca8241f.fe0b0c"]]},{"id":"19c3a8d9.e10677","type":"inject","z":"ae3dac08.d481b","name":"停止电机","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":160,"wires":[["7aded25f.ad921c"]]},{"id":"b700d4ea.c98b98","type":"exec","z":"ae3dac08.d481b","command":"cansend can0","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":860,"y":580,"wires":[[],[],[]]},{"id":"5e5aa636.90def8","type":"link in","z":"ae3dac08.d481b","name":"JOINT","links":["4fa6c5ae.f5e1fc"],"x":5,"y":800,"wires":[["48f695e8.122d2c"]]},{"id":"c11f05af.a55b68","type":"function","z":"ae3dac08.d481b","name":"","func":"if(msg.payload.indexOf(\"#00.00\")!==-1)return;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":540,"wires":[["b700d4ea.c98b98","98a6c374.52e6d"]]},{"id":"3ffe6dfb.4feaa2","type":"link in","z":"ae3dac08.d481b","name":"j4in","links":["707bb350.250bdc"],"x":205,"y":280,"wires":[["15d75f8c.0bf1f"]]},{"id":"8e66ba66.0fade8","type":"change","z":"ae3dac08.d481b","name":"","rules":[{"t":"set","p":"canid","pt":"flow","to":"002","tot":"str"},{"t":"set","p":"pdt","pt":"flow","to":".7F.F0.7A.0A.37.FF","tot":"str"},{"t":"set","p":"pdt2","pt":"flow","to":"FF.37.0A.7A.F0.7F.","tot":"str"},{"t":"set","p":"kp","pt":"flow","to":"15","tot":"num"},{"t":"set","p":"kd","pt":"flow","to":".2","tot":"num"},{"t":"set","p":"t","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"v","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":20,"wires":[[]]},{"id":"db2c7ad5.8ebec8","type":"function","z":"ae3dac08.d481b","name":"","func":"msg.payload = flow.get(\"canid\")+\"#ff.ff.ff.ff.ff.ff.ff.fc\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":140,"wires":[["c11f05af.a55b68"]]},{"id":"7aded25f.ad921c","type":"function","z":"ae3dac08.d481b","name":"","func":"msg.payload = flow.get(\"canid\")+\"#ff.ff.ff.ff.ff.ff.ff.fd\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":220,"wires":[["c11f05af.a55b68"]]},{"id":"ef65b49d.3f3428","type":"function","z":"ae3dac08.d481b","name":"","func":"var start = 0x8100;\nvar stop = 0x8c00;\nvar arr = [];\nfor(var i=start;i<=stop;i+=0x10){\n    arr.push(i);\n}\nflow.set(\"stepArr\",arr) ;\nflow.set(\"stepPos\",0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":3020,"wires":[["28e56d8e.12ac92"]]},{"id":"11d672a.4b78a8d","type":"inject","z":"ae3dac08.d481b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":760,"y":3000,"wires":[["ef65b49d.3f3428"]]},{"id":"28e56d8e.12ac92","type":"trigger","z":"ae3dac08.d481b","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1110,"y":3140,"wires":[["9401257c.5e7528"]]},{"id":"9401257c.5e7528","type":"function","z":"ae3dac08.d481b","name":"","func":"var stepArr = flow.get(\"stepArr\") ;\nvar stepPos = flow.get(\"stepPos\");\nif(stepPos==stepArr.length-1){\n    msg.reset = true;\n    \n}\nelse{\n    msg.reset = false;\n    msg.payload = stepArr[stepPos];\n    flow.set(\"stepPos\",stepPos+1);\n   \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1250,"y":3140,"wires":[["b4c93d6a.ef981"]]},{"id":"959a2853.66e3b8","type":"function","z":"ae3dac08.d481b","name":"","func":"\nfunction dec2hex(i)\n{\n  var result = \"0000\";\n  if      (i >= 0    && i <= 15)    { result = \"000\" + i.toString(16); }\n  else if (i >= 16   && i <= 255)   { result = \"00\"  + i.toString(16); }\n  else if (i >= 256  && i <= 4095)  { result = \"0\"   + i.toString(16); }\n  else if (i >= 4096 && i <= 65535) { result =         i.toString(16); }\n  return result\n}\nvar num = msg.payload;\nvar str = dec2hex(num);\nvar str2 = str.slice(0, 2) + \".\" + str.slice(2);\nmsg.payload = flow.get(\"canid\")+\"#\"+str2+flow.get(\"pdt\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1530,"y":3220,"wires":[[]]},{"id":"b4c93d6a.ef981","type":"switch","z":"ae3dac08.d481b","name":"","property":"reset","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1370,"y":3220,"wires":[["28e56d8e.12ac92"],["959a2853.66e3b8"]]},{"id":"98a6c374.52e6d","type":"debug","z":"ae3dac08.d481b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1370,"y":500,"wires":[]},{"id":"3f77c426.f0e08c","type":"inject","z":"ae3dac08.d481b","name":"","props":[{"p":"reset","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":800,"y":3240,"wires":[["28e56d8e.12ac92"]]},{"id":"99bb6a7d.3ac228","type":"function","z":"ae3dac08.d481b","name":"","func":"var start = 0x8c00;\nvar stop = 0x8100;\nvar arr = [];\nfor(var i=start;i>=stop;i-=16){\n    arr.push(i);\n}\nflow.set(\"stepArr\",arr) ;\nflow.set(\"stepPos\",0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":3420,"wires":[["d341dfd0.f1965"]]},{"id":"a298c409.05d958","type":"inject","z":"ae3dac08.d481b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":790,"y":3400,"wires":[["99bb6a7d.3ac228"]]},{"id":"d341dfd0.f1965","type":"trigger","z":"ae3dac08.d481b","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1140,"y":3540,"wires":[["8ea5cdff.6b382"]]},{"id":"8ea5cdff.6b382","type":"function","z":"ae3dac08.d481b","name":"","func":"var stepArr = flow.get(\"stepArr\") ;\nvar stepPos = flow.get(\"stepPos\");\nif(stepPos==stepArr.length-1){\n    msg.reset = true;\n    \n}\nelse{\n    msg.reset = false;\n    msg.payload = stepArr[stepPos];\n    flow.set(\"stepPos\",stepPos+1);\n   \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":3540,"wires":[["5c61b560.28909c"]]},{"id":"7d067842.4782f8","type":"function","z":"ae3dac08.d481b","name":"","func":"\nfunction dec2hex(i)\n{\n  var result = \"0000\";\n  if      (i >= 0    && i <= 15)    { result = \"000\" + i.toString(16); }\n  else if (i >= 16   && i <= 255)   { result = \"00\"  + i.toString(16); }\n  else if (i >= 256  && i <= 4095)  { result = \"0\"   + i.toString(16); }\n  else if (i >= 4096 && i <= 65535) { result =         i.toString(16); }\n  return result\n}\nvar num = msg.payload;\nvar str = dec2hex(num);\nvar str2 = str.slice(0, 2) + \".\" + str.slice(2);\nmsg.payload = flow.get(\"canid\")+\"#\"+str2+flow.get(\"pdt\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1560,"y":3620,"wires":[["45c52e5d.dce7e"]]},{"id":"5c61b560.28909c","type":"switch","z":"ae3dac08.d481b","name":"","property":"reset","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1400,"y":3620,"wires":[["d341dfd0.f1965"],["7d067842.4782f8"]]},{"id":"3735f82d.6d1528","type":"inject","z":"ae3dac08.d481b","name":"","props":[{"p":"reset","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":830,"y":3640,"wires":[["d341dfd0.f1965"]]},{"id":"45c52e5d.dce7e","type":"debug","z":"ae3dac08.d481b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1680,"y":3720,"wires":[]},{"id":"84963fed.490ba","type":"trigger","z":"ae3dac08.d481b","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"500","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":240,"y":140,"wires":[["db2c7ad5.8ebec8"]]},{"id":"b3ba3ee6.1ee57","type":"inject","z":"ae3dac08.d481b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":900,"y":860,"wires":[["7d0ddf0a.9c9b"]]},{"id":"7d0ddf0a.9c9b","type":"trigger","z":"ae3dac08.d481b","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-20","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1100,"y":880,"wires":[["cfcb6682.e6aad8"]]},{"id":"ec06f6b0.5a6908","type":"inject","z":"ae3dac08.d481b","name":"80ea","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"80ea","payloadType":"str","x":770,"y":680,"wires":[["df33929c.92b3a"]],"icon":"font-awesome/fa-arrow-right"},{"id":"df33929c.92b3a","type":"function","z":"ae3dac08.d481b","name":"","func":"\nvar num = msg.payload;\nflow.set(\"targetJointHex\",num);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":680,"wires":[[]]},{"id":"3ca8241f.fe0b0c","type":"delay","z":"ae3dac08.d481b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":40,"wires":[["3186b9a5.097706"]]},{"id":"3186b9a5.097706","type":"function","z":"ae3dac08.d481b","name":"","func":"var currentJointHex = flow.get(\"currentJointHex\");\nflow.set(\"sendJointHex\",currentJointHex);\nflow.set(\"targetJointHex\",currentJointHex);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":40,"wires":[[]]},{"id":"bf16a364.b159e","type":"inject","z":"ae3dac08.d481b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"reset","v":"1","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":850,"y":980,"wires":[["7d0ddf0a.9c9b"]]},{"id":"cfcb6682.e6aad8","type":"function","z":"ae3dac08.d481b","name":"","func":"var dec2hex = global.get(\"dec2hex\");\n\nvar currentSend = flow.get(\"sendJointHex\");\nvar currentSend2 = Number(\"0x\"+currentSend);\n\nvar currentJointHex = flow.get(\"currentJointHex\");\nvar currentJointHex2 = Number(\"0x\"+currentJointHex);\n\n\nvar targetJointHex = flow.get(\"targetJointHex\");\nvar targetJointHex2 = Number(\"0x\"+targetJointHex);\n\nvar doSend = false;\nif(targetJointHex2>currentJointHex2+3){\n    currentSend2 += 3;\n    doSend = true;\n}\nelse if(targetJointHex2<currentJointHex2-3){\n    currentSend2 -= 3;\n    doSend = true;\n}\n\nif(doSend){\n    var str = dec2hex(currentSend2);\n    flow.set(\"sendJointHex\",str);\n    \n    var str2 = str.slice(0, 2) + \".\" + str.slice(2);\n    msg.payload = flow.get(\"canid\")+\"#\"+str2+flow.get(\"pdt\");\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1370,"y":880,"wires":[["b700d4ea.c98b98"]]},{"id":"3d453494.ae69cc","type":"exec","z":"ae3dac08.d481b","command":"cansend can0 002#ff.ff.ff.ff.ff.ff.ff.fc","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":360,"y":440,"wires":[[],[],[]]},{"id":"e721bfc7.f252a","type":"inject","z":"ae3dac08.d481b","name":"enable","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":440,"wires":[["3d453494.ae69cc"]]},{"id":"e594fb87.70ccd8","type":"exec","z":"ae3dac08.d481b","command":"cansend can0 002#ff.ff.ff.ff.ff.ff.ff.fd","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":340,"y":500,"wires":[[],[],[]]},{"id":"8b99514e.cbfc1","type":"inject","z":"ae3dac08.d481b","name":"disable","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":500,"wires":[["e594fb87.70ccd8"]]},{"id":"15d75f8c.0bf1f","type":"function","z":"ae3dac08.d481b","name":"","func":"\n\nvar hex2int = global.get(\"hex2int\");\n\nvar str = msg.payload.trim();\n\nvar canid = flow.get(\"canid\");\ncanid = canid.replace(\"0\",\"\");\ncanid = canid.replace(\"0\",\"\");\nstr = str.replace(\"  \",\" \");\nstr = str.replace(\"  \",\" \");\nstr = str.replace(\"  \",\" \");\nstr = str.replace(\"  \",\" \");\nstr = str.replace(\"  \",\" \");\n\nif(str.indexOf(\"[6]  0\"+canid)!==-1){\n    str = str.replace(\"can0 000 [6] 0\"+canid,\"\");\n    str = str.replace(\" \",\"\").replace(\" \",\"\");\n    str = str.substring(0,4);\n    \n    flow.set(\"currentJointHex\",str);\n    var str2 = str.slice(0, 2) + \".\" + str.slice(2);\n    flow.set(\"currentJointHex2\",str2);\n    flow.set(\"currentJointStep\",hex2int(str));\n    flow.set(\"currentJoint\",hex2int(str)*360/16384);\n    \n    \n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":763,"y":320,"wires":[["6a95269a.403b98"]]},{"id":"c5b8d46.24f0e28","type":"inject","z":"ae3dac08.d481b","name":"特殊角度","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":60,"y":720,"wires":[["48f695e8.122d2c"]]},{"id":"48f695e8.122d2c","type":"function","z":"ae3dac08.d481b","name":"","func":"function dec2hex(i)\n{\n  var result = \"0000\";\n  if      (i >= 0    && i <= 15)    { result = \"000\" + i.toString(16); }\n  else if (i >= 16   && i <= 255)   { result = \"00\"  + i.toString(16); }\n  else if (i >= 256  && i <= 4095)  { result = \"0\"   + i.toString(16); }\n  else if (i >= 4096 && i <= 65535) { result =         i.toString(16); }\n  return result\n}\n\n\nflow.set(\"targetJoint\",msg.payload);\nvar v = Math.floor( msg.payload*16384/360);\nflow.set(\"targetJointStep\",v);\nvar currentJointStep = flow.get(\"currentJointStep\");\nvar gap = v - currentJointStep;\nvar velocity = Math.floor(gap / 10);\nif(velocity>100)velocity=20;\nif(velocity<-100)velocity=-20;\nflow.set(\"velocity\",velocity);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":720,"wires":[["513c2542.f4b33c"]]},{"id":"513c2542.f4b33c","type":"trigger","z":"ae3dac08.d481b","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-50","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":250,"y":860,"wires":[["c6c20f4e.38a8a"]]},{"id":"c6c20f4e.38a8a","type":"function","z":"ae3dac08.d481b","name":"","func":"function dec2hex(i)\n{\n  var result = \"0000\";\n  if      (i >= 0    && i <= 15)    { result = \"000\" + i.toString(16); }\n  else if (i >= 16   && i <= 255)   { result = \"00\"  + i.toString(16); }\n  else if (i >= 256  && i <= 4095)  { result = \"0\"   + i.toString(16); }\n  else if (i >= 4096 && i <= 65535) { result =         i.toString(16); }\n  return result\n}\n\nvar currentJointStep = flow.get(\"currentJointStep\");\nvar targetJointStep = flow.get(\"targetJointStep\");\nvar velocity = flow.get(\"velocity\");\n\nif(targetJointStep==currentJointStep){\n    msg.reset = true;\n}\nelse{\n    msg.reset = false;\n    if( Math.abs(targetJointStep - currentJointStep)<=Math.abs(velocity)){\n        msg.payload = \"00000001#\"+dec2hex(targetJointStep)+\"7ff0f50a37ff\";\n    } \n    else{\n        msg.payload = \"00000001#\"+dec2hex((currentJointStep+velocity))+\"7ff0f50a37ff\";\n    }\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":860,"wires":[["d171128d.4d758"]]},{"id":"d171128d.4d758","type":"switch","z":"ae3dac08.d481b","name":"","property":"reset","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":920,"wires":[["513c2542.f4b33c"],["c11f05af.a55b68"]]},{"id":"2e8d751d.92265a","type":"inject","z":"3aec01dd.9b4f7e","name":"8136","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"8136","payloadType":"str","x":770,"y":740,"wires":[["9ce9da15.3e5c68"]],"icon":"font-awesome/fa-arrow-right"},{"id":"9ce9da15.3e5c68","type":"function","z":"3aec01dd.9b4f7e","name":"","func":"\nvar num = msg.payload;\nflow.set(\"targetJointHex\",num);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":740,"wires":[[]]},{"id":"b0b2d0b5.7c368","type":"inject","z":"2fa9712b.9d5c76","name":"6959","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"6959","payloadType":"str","x":110,"y":560,"wires":[["3042e1e1.5a7a1e"]],"icon":"font-awesome/fa-arrow-right"},{"id":"3042e1e1.5a7a1e","type":"function","z":"2fa9712b.9d5c76","name":"","func":"\nvar num = msg.payload;\nflow.set(\"targetJointHex\",num);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":560,"wires":[[]]},{"id":"61cc1b59.e6ff54","type":"inject","z":"3aec01dd.9b4f7e","name":"7636","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"7636","payloadType":"str","x":723,"y":807,"wires":[["7b4fb5a8.9a2b1c"]],"icon":"font-awesome/fa-arrow-right"},{"id":"7b4fb5a8.9a2b1c","type":"function","z":"3aec01dd.9b4f7e","name":"","func":"\nvar num = msg.payload;\nflow.set(\"targetJointHex\",num);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":893,"y":807,"wires":[[]]},{"id":"87f103a1.55019","type":"inject","z":"c056cdab.32918","name":"8400","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"8400","payloadType":"str","x":747,"y":915,"wires":[["72f33a97.cb37a4"]],"icon":"font-awesome/fa-arrow-right"},{"id":"72f33a97.cb37a4","type":"function","z":"c056cdab.32918","name":"","func":"\nvar num = msg.payload;\nflow.set(\"targetJointHex\",num);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":917,"y":915,"wires":[[]]},{"id":"4441e3e8.472aec","type":"inject","z":"ae3dac08.d481b","name":"80e0","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"80e0","payloadType":"str","x":770,"y":740,"wires":[["e46d875a.9496c8"]],"icon":"font-awesome/fa-arrow-right"},{"id":"e46d875a.9496c8","type":"function","z":"ae3dac08.d481b","name":"","func":"\nvar num = msg.payload;\nflow.set(\"targetJointHex\",num);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":740,"wires":[[]]},{"id":"8a1cc7c7.8a5bc8","type":"inject","z":"2fa9712b.9d5c76","name":"6c78","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"6c78","payloadType":"str","x":530,"y":420,"wires":[["3c0f8a87.7f80a6"]],"icon":"font-awesome/fa-arrow-right"},{"id":"3c0f8a87.7f80a6","type":"function","z":"2fa9712b.9d5c76","name":"","func":"\nvar num = msg.payload;\nflow.set(\"targetJointHex\",num);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":420,"wires":[[]]},{"id":"2f0a2a04.aeeb76","type":"inject","z":"ae3dac08.d481b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1060,"y":1020,"wires":[["cfcb6682.e6aad8"]]},{"id":"806dc14.4c8d84","type":"inject","z":"ae3dac08.d481b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"reset","v":"1","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":298,"y":83,"wires":[["84963fed.490ba"]]},{"id":"4f770a59.21ef04","type":"inject","z":"2fa9712b.9d5c76","name":"6c88","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"6c88","payloadType":"str","x":510,"y":460,"wires":[["c11186cc.206fe8"]],"icon":"font-awesome/fa-arrow-right"},{"id":"c11186cc.206fe8","type":"function","z":"2fa9712b.9d5c76","name":"","func":"\nvar num = msg.payload;\nflow.set(\"targetJointHex\",num);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":460,"wires":[[]]},{"id":"eafc31c6.a4149","type":"inject","z":"ae3dac08.d481b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"7FFF","payloadType":"str","x":1150,"y":620,"wires":[["2c21446d.0ab90c"]]},{"id":"2c21446d.0ab90c","type":"function","z":"ae3dac08.d481b","name":"","func":"var dec2hex2 = global.get(\"dec2hex2\");\nvar dec2hex = global.get(\"dec2hex\");\nvar str = dec2hex(msg.payload);\nflow.set(\"sendJointHex\",str);\nvar p = parseInt(\"0x\"+msg.payload);\nvar v = flow.get(\"v\");\nvar kp = flow.get(\"kp\");\nvar kd = flow.get(\"kd\");\nvar t = flow.get(\"t\");\nvar b1 = p>>8;\nvar b2 = p&0xFF;\nvar b3 = v>>4;\nvar b4 = ((v&0xF)<<4)|(kp>>8);\nvar b5 = kp&0xFF;\nvar b6 = kd>>4;\nvar b7 = ((kd&0xF)<<4)|(t>>8);\nvar b8 = t&0xff;\nmsg.payload = flow.get(\"canid\")+\"#\"+dec2hex2(b1)+\".\"+dec2hex2(b2)+\".\"+dec2hex2(b3)+\".\"+dec2hex2(b4)+\".\"+dec2hex2(b5)+\".\"+dec2hex2(b6)+\".\"+dec2hex2(b7)+\".\"+dec2hex2(b8);\nmsg.b = [b1,b2,b3,b4,b5,b6,b7,b8];\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1330,"y":640,"wires":[["f53bcd10.e3489"]]},{"id":"eadb85d8.ca3758","type":"inject","z":"2fa9712b.9d5c76","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"6d1a","payloadType":"str","x":1070,"y":420,"wires":[["257b71b8.7d2eae"]],"icon":"font-awesome/fa-arrow-right"},{"id":"257b71b8.7d2eae","type":"function","z":"2fa9712b.9d5c76","name":"","func":"\nvar num = msg.payload;\nflow.set(\"targetJointHex\",num);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":420,"wires":[[]]},{"id":"6a95269a.403b98","type":"debug","z":"ae3dac08.d481b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":320,"wires":[]},{"id":"208b503f.e302d","type":"debug","z":"2fa9712b.9d5c76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":360,"wires":[]},{"id":"998103c0.a6cea","type":"function","z":"ae3dac08.d481b","name":"","func":"var dec2hex = global.get(\"dec2hex\");\nvar str = dec2hex(msg.payload);\nflow.set(\"sendJointHex\",str);\n\nvar str2 = str.slice(0, 2) + \".\" + str.slice(2);\nmsg.payload = flow.get(\"canid\")+\"#\"+flow.get(\"pdt2\")+str2;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1330,"y":740,"wires":[["b700d4ea.c98b98"]]},{"id":"f53bcd10.e3489","type":"debug","z":"ae3dac08.d481b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1480,"y":640,"wires":[]},{"id":"490d3584.9d66bc","type":"exec","z":"ae3dac08.d481b","command":"cansend can0 002#7F.FF.7F.F0.7A.0A.37.FF","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":390,"y":580,"wires":[[],[],[]]},{"id":"83f9d5c1.ed0058","type":"inject","z":"ae3dac08.d481b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":580,"wires":[["490d3584.9d66bc"]]},{"id":"c70f1102.7c711","type":"inject","z":"ae3dac08.d481b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":640,"wires":[["23ba2fa6.a4846"]]},{"id":"23ba2fa6.a4846","type":"exec","z":"ae3dac08.d481b","command":"cansend can0 002#88.6A.7F.F0.7A.0A.37.FF","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":370,"y":640,"wires":[[],[],[]]},{"id":"69250cf.7a2a8f4","type":"inject","z":"ae3dac08.d481b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":360,"wires":[["e631d606.278028"]]},{"id":"e631d606.278028","type":"exec","z":"ae3dac08.d481b","command":"cansend can0 002#00.00.7F.F0.7A.0A.37.FF","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":370,"y":360,"wires":[[],[],[]]}]